#include "windows.h"

// 版本信息
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "DetectionSystem"
            VALUE "FileDescription", "检测平台应用程序"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "IDSP"
            VALUE "LegalCopyright", "Copyright © 2023 DetectionSystem"
            VALUE "OriginalFilename", "IDSP.exe"
            VALUE "ProductName", "检测平台"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// 应用程序图标（可选）
// 1 ICON "app.ico"